@*@model ProgrammingProject.Models.Person.Create
@{
    ViewData["Title"] = "CreateGuestPartial";
}

<form asp-action="GuestCreatePartial">


    <h4>Please enter your details to make your reservation.</h4>
    <hr />
    <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="@Model.TitleId"></label>
            <select asp-for="@Model.TitleId" asp-items="@Model.Titles">
                <option value="Please Select a Title">Please Select a Title</option>
            </select>
            <span asp-validation-for="TitleId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input type="tel" asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input type="email" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    <button type="submit">Confirm Booking</button>
</form>*@