@{
    ViewData["Title"] = "Home Page";
}
   <div class="row text-white">
       <div class="col-md-6 p-1" style="display: inline-block; background-color: rgba(0,0,0, 0.95); border-radius: 15px;   color: #f1f1f1; ">
           <div class="row m-3 ">
               <h2>About Us</h2>
               <p>
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis turpis eu lacus fringilla auctor. Donec condimentum est vel pellentesque convallis. Proin pellentesque quam id felis gravida maximus. Suspendisse sagittis massa id metus scelerisque malesuada. Cras auctor lectus ex, in suscipit urna porta ut. Phasellus egestas sodales turpis a luctus. Suspendisse dictum rhoncus mauris, vitae molestie neque ultricies eget. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc consectetur egestas diam, eu molestie nisl iaculis congue. Nam quis ligula sem. Cras sagittis egestas libero at interdum. Nam vitae commodo velit.
               </p>
           </div>
           <div class="row m-1 p-0">
               <div class="col-5 p-0 mb-2 text-center" style="display:inline-block;">
                   <div>
                       <h4>Opening Hours</h4>
                       <p class="m-0">Mon-Friday: 10am-8pm</p>
                       <p class="m-0">Sat: 8am-3pm</p>
                       <p class="m-0">Sun: 8am-12pm</p>
                   </div>
               </div>
               <div class="col-7 p-0 mb-2" style="display:inline-block">
                   <div>
                       <h4>Contact Us At:</h4>
                       <p class="m-0">Ph: 09 8761 2345</p>
                       <p class="m-0">Email: thenavbar@@gmail.com</p>
                       <p class="m-0">Address: 123 ABC Street Sydney NSW 2000</p>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-1 hidden-xs hidden-sm"></div>
        <div class="col-md-5 p-1 m-0" style="display:inline-block; background-color: rgba(0,0,0, 0.95); border-radius: 15px;   color: #f1f1f1;">
            <div class="row m-2">
                <div class=" col-12 text-light w-100 d-none d-md-block">
                    <h4>Starters</h4>
                    <ul>
                        <li>Starter Item 1</li>
                        <li>Starter Item 2</li>
                        <li>Starter Item 3</li>
                    </ul>
                    <h4>Main Course</h4>
                    <ul>
                        <li>Main Course Meal 1</li>
                        <li>Main Course Meal 2</li>
                        <li>Main Course Meal 3</li>
                    </ul>
                    <h4>Drinks</h4>
                    <ul>
                        <li>Drink 1</li>
                        <li>Drink 2</li>
                        <li>Drink 3</li>
                    </ul>
                </div>
            </div>
        </div>
   </div>